- name: Deploy Glances
  block:
    - name: Ensure pipx is in path
      ansible.builtin.shell: |
        pipx ensurepath
      become: true

    - name: Install Pipx Components
      vars:
        pipx_packages:
          - py3nvml
          - glances
      community.general.pipx:
        name: "{{ item }}"
        state: latest
      with_items: "{{ pipx_packages }}"
      changed_when: false
      become: true

    - name: Copy service file
      ansible.builtin.copy:
        src: files/glances.service
        dest: /etc/systemd/system/glances.service
        force: true
        mode: "0644"

    - name: Enable Glances service
      ansible.builtin.systemd:
        name: glances
        state: started
        enabled: true
        daemon_reload: true

  rescue:
    - name: Handle failure
      ansible.builtin.debug:
        msg: "An error occurred during glances deployment."
    - name: Increment failure counter
      ansible.builtin.set_fact:
        failure_counter: "{{ failure_counter | default(0) | int + 1 }}"
