- name: Install initial packages
  block:
    - name: Remove Nano
      ansible.builtin.apt:
        name: nano
        state: absent
      become: true

    - name: Install Sudo
      ansible.builtin.apt:
        name: sudo
        state: present
      become: true

    - name: Install micro
      ansible.builtin.apt:
        name: micro
        state: present
      become: true

    - name: Install bat
      ansible.builtin.apt:
        name: bat
        state: present
      become: true

    - name: Install community.general collection
      ansible.builtin.command: ansible-galaxy collection install community.general
      register: install_general
      changed_when: '"Nothing to do." not in install_general.stdout'
      become: true

    - name: Install Pipx
      ansible.builtin.apt:
        name: pipx
        state: present
      become: true

    - name: Install iperf3
      ansible.builtin.apt:
        name: iperf3
        state: present
      become: true

    - name: Install fd-find
      ansible.builtin.apt:
        name: fd-find
        state: present
      become: true

    - name: Install ripgrep
      ansible.builtin.apt:
        name: ripgrep
        state: present
      become: true

    - name: Remove telnet
      ansible.builtin.apt:
        name: telnet
        state: absent
      become: true

    - name: Remove ftp and tnftp
      ansible.builtin.apt:
        name:
          - ftp
          - tnftp
        state: absent
      become: true

    - name: Remove gdm3 (if GUI not needed)
      ansible.builtin.apt:
        name: gdm3
        state: absent
      become: true

  rescue:
    - name: Handle task failure
      ansible.builtin.debug:
        msg: "A task in the initial packages block failed"
    - name: Increment failure counter
      ansible.builtin.set_fact:
        failure_counter: "{{ failure_counter | default(0) | int + 1 }}"
