[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=glances -w
Restart=always
RemainAfterExit=no

[Install]
WantedBy=multi-user.target